// this file is just for the nav!!

@use "../theme";

nav {
  display: flex;
  justify-content: end;
  align-items: center;

  padding: 10px;

  color: rgba(255, 255, 255, 0.5);
  background-color: theme.$primary-color;

  border-radius: 10px;

  // list
  ul {
    margin: 0;
    padding-left: 20px;
    display: flex;
  }
  
  // element of list
  li {
    list-style-type: none;

    // anchor
    a {
      display: block;
      padding: 20px;
    
      color: inherit;
      text-decoration: none;
    
      transition: transform .2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    // active element
    &.active {
      a {
        color: white;
      }
    }

  }
}
