
/* all this global stuff in the same file as utility and components ;-; */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 900px;

  margin-left: auto;
  margin-right: auto;
}

.post-preview {
  width: 400px;
  padding: 24px;

  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .10);
}

.post-preview h3 {
  font-size: 1.8rem;
  margin: 12px 0 16px;
}

.post-preview a {
  color: gray;
}

.post-preview p {
  margin: 12px 0;
}

.post-preview a:visited {
  color: gray;
}
